<!DOCTYPE html>
<!--suppress InjectedReferences, HtmlUnknownTarget -->
<html lang="en">
<head>
  <title>JASMIC</title>
  <link rel='stylesheet' href="../bower_components/angular-material/angular-material.css"/>
  <link rel='stylesheet' href="../stylesheets/style.css"/>
  <link rel='stylesheet' href="../stylesheets/table.css"/>
</head>
<body ng-app="jasmic" layout="column" layout-fill>
<div ng-controller="NavigationCtrl">
  <md-toolbar>
    <div class="md-toolbar-tools" >
      <md-select ng-model="nav" placeholder="Navigation" flex="15">
        <md-option>Dashboard</md-option>
        <md-option>Search</md-option>
        <md-option>Price Data</md-option>
        <md-option>Supply Data</md-option>
      </md-select>
      <span flex></span>
    </div>
  </md-toolbar>
</div>
<div class="belowTheToolbar" layout="row" flex>
  <div class="addNew" layout="column" flex="10" layout-align="start center">
    <md-button class="md-fab" aria-label="Eat cake">
      <md-label>+</md-label>
    </md-button>
    <span layout="row" flex>
      <!--
        Fill up the rest of the space
      -->
    </span>
  </div>
  <div layout="column" flex layout-wrap>
    <div class="headerArea" layout="row" >
      <div class="globalSearchArea" flex="60">
        <input class="search" ng-model="search" type="text" placeholder="Search"/>
      </div>
      <div class="emptyArea" flex="40">

      </div>
    </div>

    <div class="contentArea" layout-fill flex>
      <div ng-view>

      </div>
    </div>
  </div>
  <div class="emptySpace" layout="column" flex="10">

  </div>
</div>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-aria/angular-aria.js"></script>
<script src="../bower_components/angular-material/angular-material.js"></script>

<script src="../javascripts/lb-services.js"></script>
<script src="../javascripts/app.js"></script>
<script src="../javascripts/services.js"></script>
<script src="../javascripts/controllers/navigation-ctrl.js"></script>
<script src="../javascripts/controllers/farmer-ctrl.js"></script>
<script src="../javascripts/controllers/search-ctrl.js"></script>
<script src="../javascripts/filters.js"></script>
<script src="../javascripts/directives.js"></script>
</body>
</html>