<!DOCTYPE html>
<!--suppress InjectedReferences, HtmlUnknownTarget -->
<html lang="en">
<head>
  <title><%=title%></title>
  <link rel='stylesheet' href="../stylesheets/table.css"/>
  <link rel='stylesheet' href="../bower_components/angular-material/angular-material.css"/>
  <link rel='stylesheet' href="../stylesheets/style.css"/>
</head>
<body ng-app="jasmic" layout="column" layout-fill>
<div ng-controller="NavigationCtrl">
  <md-toolbar>
    <div class="md-toolbar-tools" >
      <md-select class="navigation" aria-label="Navigation" ng-model="nav" placeholder="Navigation" flex="15">
        <md-option ng-click="goTo('dashboard')" value="Dashboard"><md-icon md-svg-icon="/images/ic_dashboard_24px.svg"></md-icon> Dashboard</md-option>
        <md-option ng-click="goTo('search')" value="Search"><md-icon md-svg-icon="/images/ic_search_24px.svg"></md-icon> Search</md-option>
        <md-option ng-click="goTo('demands')" value="Demand Data"><md-icon md-svg-icon="/images/ic_trending_up_24px.svg"></md-icon> Demand Data</md-option>
        <md-option ng-click="goTo('supplies')" value="Supply Data"><md-icon md-svg-icon="/images/ic_store_mall_directory_24px.svg"></md-icon> Supply Data</md-option>
      </md-select>
      <span flex></span>

      <md-button aria-label="More"><md-icon style="color: grey" md-svg-src="/images/ic_settings_24px.svg"></md-icon></md-button>
      <md-button ng-click="logout()" aria-label="Exit">
        <md-icon style="color: grey" md-svg-src="/images/ic_exit_to_app_24px.svg"></md-icon>
        <md-tooltip>Exit {{loggedUser.us_user_first_name}} {{loggedUser.us_user_last_name}}</md-tooltip>
      </md-button>

    </div>
  </md-toolbar>
</div>
<div ng-controller="NavigationCtrl" class="belowTheToolbar" layout="row" flex>
  <div class="addNew" layout="column" flex="10" layout-align="start center" flex-sm="0">

    <md-fab-speed-dial md-open="false" md-trigger="click" md-direction="down" layout-align="center" ng-class="md-fling">

    <md-fab-trigger>
      <md-button aria-label="menu" class="md-fab md-warn">
        <md-icon md-svg-icon="/images/ic_add_24px.svg"></md-icon>
      </md-button>
    </md-fab-trigger>

    <md-fab-actions style="text-align:center;">
      <md-button ng-click="goTo('farmer')" class="md-fab-top-left" aria-label="Add New Farmer">
        Farmer
      </md-button>
      <md-button ng-click="goTo('buyer')" class="md-fab-top-left" aria-label="Add New Buyer">
        Buyer
      </md-button>
      <md-button ng-click="goTo('call')" class="md-fab-top-left" aria-label="Add New Call">
        Call
      </md-button>
      <md-button ng-click="goTo('transaction')" class="md-fab-top-left" aria-label="Add New Transaction">
        Transaction
      </md-button>
      <md-button ng-click="goTo('supplier')" class="md-fab-top-left" aria-label="Add New Farm Store">
        Farm Store
      </md-button>
    </md-fab-actions>

    </md-fab-speed-dial>

    <!--

    <md-button ng-click="addNewButtonClick()" class="md-fab" aria-label="Add New">
      <md-icon md-svg-icon="/images/ic_add_24px.svg"></md-icon>
    </md-button>
    <md-button ng-click="goTo('farmer')" ng-show="add_clicked" class="md-fab-top-left" aria-label="Add New Farmer">
      Farmer
    </md-button>
    <md-button ng-click="goTo('buyer')" ng-show="add_clicked" class="md-fab-top-left" aria-label="Add New Buyer">
      Buyer
    </md-button>
    <md-button ng-click="goTo('call')" ng-show="add_clicked" class="md-fab-top-left" aria-label="Add New Call">
      Call
    </md-button>
    <md-button ng-click="goTo('transaction')" ng-show="add_clicked" class="md-fab-top-left" aria-label="Add New Transaction">
      Transaction
    </md-button>
    <md-button ng-click="goTo('supplier')" ng-show="add_clicked" class="md-fab-top-left" aria-label="Add New Farm Store">
      Farm Store
    </md-button>

    <span layout="row" flex>

        Fill up the rest of the space

    </span> -->
  </div>
  <div layout="column" flex>
    <div class="headerArea" layout="row" >
      <div class="globalSearchArea" layout-padding flex="60">
        <form ng-controller="SearchCtrl" ng-submit="searchAll()">
          <input class="search" ng-model="search" type="text" placeholder="Search">
          <md-tooltip>
            Keyword Search
          </md-tooltip>
        </form>
      </div>
      <div class="emptyArea" flex="40" >

      </div>
    </div>

    <div class="contentArea" layout-fill flex>
      <div ng-view>

      </div>
    </div>
  </div>
  <div class="emptySpace" layout="column" flex="10" flex-md="0" flex-sm="0">

  </div>
</div>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/moment/min/moment.min.js"></script>
<script src="../bower_components/angular-route/angular-route.min.js"></script>
<script src="../bower_components/angular-resource/angular-resource.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../bower_components/angular-selection-model/dist/selection-model.min.js"></script>

 <!-- CDN JS Libraries -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.js"></script>
<script src="../bower_components/angular-selection-model/dist/selection-model.min.js"></script> -->


<script src="../javascripts/app.js"></script>
<script src="../javascripts/services.js"></script>
<script src="../javascripts/controllers/navigation-ctrl.js"></script>
<script src="../javascripts/controllers/farmer-ctrl.js"></script>
<script src="../javascripts/controllers/buyer-ctrl.js"></script>
<script src="../javascripts/controllers/input-ctrl.js"></script>
<script src="../javascripts/controllers/search-ctrl.js"></script>
<script src="../javascripts/controllers/dashboard-ctrl.js"></script>
<script src="../javascripts/controllers/demand-ctrl.js"></script>
<script src="../javascripts/controllers/commodity-ctrl.js"></script>
<script src="../javascripts/filters.js"></script>
<script src="../javascripts/directives.js"></script>

</body>
</html>