<!DOCTYPE html>
<!--suppress InjectedReferences, HtmlUnknownTarget -->
<html>
<head>
  <link type="text/css" href="../bower_components/angular-material/angular-material.css"/>
  <title>JASMIC</title>
</head>
<body>






<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-aria/angular-aria.js"></script>
<script src="../bower_components/angular-material/angular-material.css"></script>

<script src="../javascripts/lb-services.js"></script>
<script src="../javascripts/app.js"></script>
<script src="../javascripts/services.js"></script>
<script src="../javascripts/controllers/farmer-ctrl.js"></script>
<script src="../javascripts/filters.js"></script>
<script src="../javascripts/directives.js"></script>
</body>
</html>