<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/dist/css/material.min.css"/>
    <link rel='stylesheet' href="../bower_components/angular-material/angular-material.css"/>
    <link rel='stylesheet' href="../stylesheets/style.css"/>
</head>
<body class="whitebg" layout="column" layout-fill>

<md-content ng-app="jasmic-login" layout="row" layout-fill>
    <div layout-fill hide-sm hide-md class="imageLeft" flex="50" layout="column">
        <div layout="row" layout-padding layout-align="center start" flex class="loginBlurb">
            <div layout="column" layout-align="center end" flex="30">
                <img class="scale2" src="../images/jas-logo.png"/>
            </div>
            <div flex="70">
                <h3>Building meaningful relationships between organizations and the farming community</h3>
            </div>
        </div>
        <div flex>

        </div>
        <div flex>

        </div>
    </div>
    <div layout="column" flex="50" flex-md="100" flex-sm="100">
        <div layout-padding layout="row" class="loginHeader" layout-align="start center" flex>
            <span flex="10"></span>
            <img class="scale" src="../images/login-icon.png"/>
            <h1>Login</h1>
            <span flex></span>
        </div>
        <div layout-padding layout="column" flex>
          <%if(message){%>
              <p class="error-message"><%=message%></p>
          <%}%>
        <form layout="column" layout="center center" method="POST" action="/login?goTo=<%=goTo%>">

                <div layout="column" layout-align="center center" layout-padding>
                    <input class="loginEntry userLogin" placeholder="Username" type="text" name="username"/>
                </div>
                <div layout="column" layout-align="center center" layout-padding>
                    <input class="loginEntry pass" placeholder="Password" type="password" name="blank" id="blank"/>
                </div>
                <input type="hidden" id="password" name="password" />
                <div layout="row" layout-padding layout-align="center center">
                    <input class="btn btn-primary" type="submit" value="Login"/><span flex="5"></span>
                    <a class="btn btn-primary" href="register" value="Register">Register</a>
                </div>
            </form>
        </div>
        <div flex>

        </div>
    </div>
</md-content>

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../bower_components/crypto-js/crypto-js.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-route/angular-route.min.js"></script>
<script src="../bower_components/angular-resource/angular-resource.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script src="../javascripts/login.js"></script>
</body>
</html>
