<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/dist/css/material.min.css"/>
    <link rel='stylesheet' href="../bower_components/angular-material/angular-material.css"/>
    <link rel='stylesheet' href="../stylesheets/style.css"/>
</head>
<body class="whitebg" layout="column" layout-fill>

<md-content  layout="row" layout-fill>
    <div layout-fill hide-sm hide-md class="imageLeft" flex="50" layout="column">
        <div layout="row" layout-padding layout-align="center start" flex class="loginBlurb">
            <div layout="column" layout-align="center end" flex="30">
                <img class="scale2" src="../images/jas-logo.png"/>
            </div>
            <div flex="70">
                <h3>Building meaningful relationships between organizations and the farming community</h3>
            </div>
        </div>
        <div flex>

        </div>
        <div flex>

        </div>
    </div>
    <div layout="column" flex="50" flex-md="100" flex-sm="100">
        <div layout-padding layout="row" class="loginHeader" layout-align="start center" flex>
            <span flex="10"></span>
            <img class="scale" src="../images/ic_account_box_24px.svg"/>
            <h1>Register</h1>
            <span flex></span>
        </div>
        <div layout-padding layout="column" flex>
            <form layout="column" layout="center center" novalidate id="register">
                <p id="message" class="loginEntry"></p>
                <div layout="column" layout-align="center center" layout-padding>
                    <input class="loginEntry userLogin" placeholder="First Name" type="text"
                    name="us_user_first_name"/>
                </div>
                <div layout="column" layout-align="center center" layout-padding>
                    <input class="loginEntry userLogin" placeholder="Last Name" type="text" name="us_user_last_name"/>
                </div>
                <div layout="column" layout-align="center center" layout-padding>
                    <input class="loginEntry userLogin" placeholder="Email Address" type="text" name="us_email_address"/>
                </div>
                <div layout="column" layout-align="center center" layout-padding>
                    <input class="loginEntry userLogin" placeholder="Contact Number" type="text" name="us_contact"/>
                </div>
                <div layout="column" layout-align="center center" layout-padding>
                    <input class="loginEntry pass" placeholder="Password" type="password" id="blank"/>
                </div>
                <div layout="column" layout-align="center center" layout-padding>
                    <input class="loginEntry pass" placeholder="Confirm Password" type="password" id="blank_confirm"/>
                </div>
                <input type="hidden" id="password" name="us_password" />
                <input type="hidden" id="confirm" name="us_confirm" />
                <div layout="column" layout-padding layout-align="center center">
                    <input class="btn btn-primary" type="button" value="Register" id="register_user"/>
                </div>
            </form>
        </div>
        <div flex>

        </div>
    </div>
</md-content>

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
<script src="https://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>
<script src="../javascripts/login.js"></script>
</body>
</html>
