<html>
<head>
    <meta charset="UTF-8">
    <title>Password Change</title>
</head>
<body>
<input placeholder="New Password" type="password" name="blank" id="blank"/>
<input placeholder="Confirm Password" type="password" name="blank" id="blank"/>
<input type="hidden" id="password" name="password" />
</body>
</html>