<div layout="column" layout-fill flex-md="100" flex="60" flex-sm="100">

    <md-card class="admin-cards">
        <md-card-content class="{{newUser ? 'dark':'white'}}">
            <div layout="row">
                <h3 class="{{newUser ? 'dark':'white'}}">Users</h3>
                <div flex class="md-actions edge" layout="row" layout-align="end center">
                    <md-button ng-click="create('user');" class="md-fab edge" aria-label="Add New Farm">
                        <md-icon class="edge" md-svg-icon="/images/ic_add_24px.svg"></md-icon>
                    </md-button>
                </div>
            </div>
            <div>
                <table class="table table-hover table-mc-light-blue" ng-if="!hideList.user">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>User Type</th>
                        <th>Email</th>
                        <th>State</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users" ng-click="selectedElement('user', user)">
                        <td>{{user.us_user_first_name}} {{user.us_user_last_name}}</td>
                        <td>{{user.us_username}}</td>
                        <td>{{user.ut_user_type}}</td>
                        <td>{{user.us_email_address}}</td>
                        <td>{{user.us_state}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-include="newUser ? '/partials/admin/user_new.html':null">

            </div>

            <div class="{{editUser ?'dark':'white'}}" ng-include="editUser ? '/partials/admin/user_new.html': null">

            </div>

        </md-card-content>
    </md-card>

    <md-card class="admin-cards">
        <md-card-content class="{{newCropType ? 'dark':'white'}}">
            <div layout="row">
                <h3 class="{{newCropType ? 'dark':'white'}}">Crop Types</h3>
                <div flex class="md-actions edge" layout="row" layout-align="end center">
                    <md-button ng-click="create('croptype')" class="md-fab edge" aria-label="Add New Farm">
                        <md-icon class="edge" md-svg-icon="/images/ic_add_24px.svg"></md-icon>
                    </md-button>
                </div>
            </div>
            <div>
                <table class="table table-hover table-mc-light-blue" ng-if="!hideList.croptype" >
                    <thead>
                    <tr>
                        <th>Crop Name</th>
                        <th>Variety</th>
                        <th>Average Size</th>
                        <th>Crop Season</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="crop in crops | limitTo: 5" ng-click="selectedElement('crop', crop)">
                        <td>{{crop.cr_crop_name}}</td>
                        <td>{{crop.cr_crop_variety}}</td>
                        <td>{{crop.cr_crop_avg_size}}</td>
                        <td>{{crop.cr_crop_season}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-include="newCropType ? '/partials/admin/crop_type_new.html':null">

            </div>

            <div class="{{editCrop ?'dark':'white'}}" ng-include="editCrop ? '/partials/admin/crop_type_new.html': null">

            </div>
        </md-card-content>
    </md-card>



    <md-card class="admin-cards">
        <md-card-content class="{{newSupplier ? 'dark':'white'}}">
            <div layout="row">
                <h3 class="{{newSupplier ? 'dark':'white'}}">Farm Stores</h3>

                <div flex class="md-actions edge" layout="row" layout-align="end center">
                    <md-button ng-click="create('supplier')" class="md-fab edge" aria-label="Add New Farm">
                        <md-icon class="edge" md-svg-icon="/images/ic_add_24px.svg"></md-icon>
                    </md-button>
                </div>
            </div>
            <div>
            <table class="table table-hover table-mc-light-blue" ng-if="!hideList.supplier">
                <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Parish</th>
                            <th>Contact</th>
                        </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="supplier in suppliers" ng-click="selectedElement('supplier', supplier)">
                        <td>{{supplier.su_supplier_name}}</td>
                        <td>{{supplier.su_description}}</td>
                        <td>{{supplier.pa_parish}}</td>
                        <td>{{supplier.su_contact}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div ng-include="newSupplier ? '/partials/admin/supplier_new.html':null">

            </div>
            <div class="{{editSupplier ?'dark':'white'}}" ng-include="editSupplier ? '/partials/admin/supplier_new.html': null">

            </div>
        </md-card-content>
    </md-card>

    <md-card class="admin-cards">
        <md-card-content class="{{newUnit ? 'dark':'white'}}">
            <div layout="row">
                <h3 class="{{newUnit ? 'dark':'white'}}">Units</h3>
                <div flex class="md-actions edge" layout="row" layout-align="end center">
                    <md-button ng-click="create('unit')" class="md-fab edge" aria-label="Add New Farm">
                        <md-icon class="edge" md-svg-icon="/images/ic_add_24px.svg"></md-icon>
                    </md-button>
                </div>
            </div>
            <div ng-include="newUnit ? '/partials/farm_new.html':null">

            </div>
        </md-card-content>
    </md-card>

    <md-card class="admin-cards">
        <md-card-content class="{{newBuyer ? 'dark':'white'}}">
            <div layout="row">
                <h3 class="{{newBuyer ? 'dark':'white'}}">Unverified Buyers</h3>
                <!-- <div flex class="md-actions edge" layout="row" layout-align="end center">
                    <md-button ng-click="create('unit')" class="md-fab edge" aria-label="Add New Farm">
                        <md-icon class="edge" md-svg-icon="/images/ic_add_24px.svg"></md-icon>
                    </md-button>
                </div> -->
            </div>
            <div>
              <table class="table table-hover table-mc-light-blue" ng-if="!hideList.buyer" ng-show="buyers.length > 0">
                  <thead>
                          <tr>
                              <th>Name</th>
                              <th>Type</th>
                              <th>Parish</th>
                          </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="buyer in buyers" ng-click="selectedElement('buyer',buyer)">
                          <td>{{buyer.bu_buyer_name}}</td>
                          <td>{{buyer.bt_buyer_type.bt_buyer_type_name}}</td>
                          <td>{{buyer.ad_address.pa_parish}}</td>
                      </tr>
                  </tbody>
              </table>
            </div>
          <div class="{{editBuyer ?'dark':'white'}}" ng-include="editBuyer ? '/partials/admin/buyer_edit.html': null">

          </div>
        </md-card-content>
    </md-card>

</div>
