<md-content layout-padding layout="column">

    <div layout="row">
        <md-input-container flex>
            <label>Supplier Name</label>
            <input type="text" ng-model="new_supplier.su_supplier_name">
        </md-input-container>
        <md-input-container flex>
            <label>Email Address</label>
            <input type="text" ng-model="new_supplier.su_email">
        </md-input-container>

        <md-input-container flex>
            <label>Contact Number</label>
            <input type="text" ng-model="new_supplier.contact">
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container flex>
            <label>Address 1</label>
            <input type="text" ng-model="new_supplier.ad_address1">
        </md-input-container>

        <md-input-container flex>
            <label>Address 2</label>
            <input type="text" ng-model="new_supplier.ad_address2">
        </md-input-container>

        <md-input-container flex>
            <label>City</label>
            <input type="text" ng-model="new_supplier.ad_city">
        </md-input-container>
    </div>
    <div layout="row">
        <md-select placeholder="Parish" ng-model="new_supplier.pa_parish" flex>
            <md-option ng-repeat="parish in parishes" value={{parish.pa_parish_name}}>{{parish.pa_parish_name}}</md-option>
        </md-select>
    </div>

    <div layout="row">
        <md-input-container flex>
            <label>Description</label>
            <input type="text" ng-model="new_supplier.su_description">
        </md-input-container>
    </div>

    <md-input-container layout="row" layout-align="center center">
        <md-button ng-click="cancel('supplier')">Cancel</md-button>
        <md-button ng-click="save('supplier')">Save</md-button>
    </md-input-container>
</md-content>