/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
md-toolbar.md-default-theme {
  background-color: white;
  color: rgba(116, 117, 41, 1);
}

md-content.md-default-theme {
  background-color: transparent;
}

md-option {
  background-color: white;
}

.belowTheToolbar {
  background-color: whitesmoke;
  background: url("../images/bg-img.jpg") no-repeat;
  background-size: 100% 220px;
}

.addNew{
  padding-top: 180px;
}

a.md-button.md-default-theme.md-fab, .md-button.md-default-theme.md-fab{
  background-color: black;
}

.globalSearchArea {
  padding-top: 80px;
}

.search {
  width: 100%;
  height: 50px;
  background: url("/images/ic_search_24px.svg") no-repeat;
  background-color: white;
  padding-left: 50px;
  background-position: 10px 10px;
}

html {
  background-color: whitesmoke;
}

.contentArea {
  padding-top: 30px;
}

.farmerPretty {
  padding-top: 50px;
}

.farmerPretty2 {
  padding-top: 100px;
  padding-bottom: 50px;
}

md-card-content.pretty {
  background-color: #d8e4f1;
}

.farmerSummary h2 {
  font-weight: bolder;
}
.farmerSummary h3 {
  font-weight: bold;
}
.farmerSummary h4 {
  font-weight: lighter;
  color: gray;
}

.farmerSummary {
  margin: 0px;
  text-transform: lowercase;
}

.farmerSummary:first-letter {
  text-transform: uppercase;
}

.farmerInfo {
  border-bottom-color: #B8BDBD;
  border-width: thin;
  border-bottom-style: solid;
}

.farmer_info {
  border-bottom-color: #B8BDBD;
  border-width: thin;
  border-bottom-style: solid;
  padding-bottom: 10px;
  padding-top: 10px;
}

.lastInfo{
  padding-top: 10px;
}

.label {
  color: grey;
}