/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
md-toolbar.md-default-theme {
  background-color: white;
  color: rgba(116, 117, 41, 1);
}

ui-view {
  background-color: whitesmoke;
}

.belowTheToolbar {
  background-color: whitesmoke;
  background: url("../images/bg-img.jpg") no-repeat;
  background-size: 100% 220px;
}

.addNew{
  padding-top: 180px;
}

a.md-button.md-default-theme.md-fab, .md-button.md-default-theme.md-fab{
  background-color: black;
}

.globalSearchArea {
  padding-top: 30px;
}

.search {
  width: 100%;
  height: 35px;
  text-align: right;
}