table.table1{
    padding-left: 24px;
    padding-right: 24px;
    width: inherit;
}

tr.row-select:hover{
    background-color: #EEEEEE;

}

thead.farmer-header{
    font-family:"Roboto", "Noto", sans-serif;
    font-size: 0.85em;
}


/*th.initial{*/
    /*text-align:left;*/
    /*padding-left: 4em;*/
/*}*/

.initial{
    padding-right: 4em;
    text-align: left;
    height: 3.43em;

}

.flex1 {
    text-align: left;
    padding-right:4em;

}

.header-title{
    height: 4em;
}

td.flex2{
    /*padding-left: 4em;*/
    height: 3.43em;
    text-align: left;
}
