<ui-view>
    <md-content layout="row" layout-fill>
        <div layout="column" layout-fill flex-md="100" flex="60" flex-sm="100">
            <md-card>
                <md-card-content class="pretty2" layout-padding>
                    <div layout="row">
                        <div flex="10" class="profilePic"></div>
                        <div flex="70" layout="column" class="farmerNames farmerPretty2">

                            <h2 class="farmerSummary">{{buyer.bu_buyer_name}}</h2>

                        </div>
                        <div layout="column" flex="20">
                            <div layout="row" >
                                <md-button ng-click="editBuyer()" class="md-icon-button" aria-label="Edit">
                                    <md-icon md-svg-icon="/images/ic_mode_edit_24px.svg"></md-icon>
                                </md-button>
                                <md-button ng-click="createBuyerCall();"class="md-icon-button" aria-label="New Call">
                                    <md-icon md-svg-icon="/images/ic_call_24px.svg"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="Details">
                                    <md-icon md-svg-icon="/images/ic_more_vert_24px.svg"></md-icon>
                                </md-button>
                            </div>
                            <span flex></span>
                        </div>
                    </div>
                </md-card-content>
                <md-card-content layout="column">
                    <div class="farmer_info" layout="row">
                        <div flex="25" layout="row">
                            <md-icon md-svg-icon="/images/ic_account_box_24px.svg"></md-icon>
                            <div layout="column">
                                {{isValid(buyer.bt_buyer_type.bt_buyer_type_name)? buyer.bt_buyer_type.bt_buyer_type_name:  'Unknown Type'}}
                                <div class="label">Type</div>
                            </div>
                        </div>
                        <span flex="25"></span>

                        <div layout="row" flex="30">
                            <md-icon md-svg-icon="/images/ic_verified_user_24px.svg"></md-icon>
                            <div layout="column">
                                {{ buyer.bu_verified ? "Verified" : 'Unverified'}} Buyer
                                <div class="label">Verification Status</div>
                            </div>
                        </div>

                        <span flex=""></span>
                    </div>
                    <div class="farmer_info" layout="row">
                        <div layout="row" flex="25">
                            <md-icon md-svg-icon="/images/ic_call_24px.svg"></md-icon>
                            <div layout="column">
                                {{isValid(buyer.bu_phone)? buyer.bu_phone : 'Not Disclosed'}}
                                <div class="label">Contact</div>
                            </div>
                        </div>
                        <span flex="25"></span>
                        <div layout="row" flex="40">
                            <md-icon md-svg-icon="/images/ic_email_24px.svg"></md-icon>
                            <div layout="column">
                                {{isValid(buyer.bu_email)? (buyer.bu_email| lowercase): 'Not Disclosed'}}
                                <div class="label">Email</div>
                            </div>
                        </div>
                    </div>
                    <div class="lastInfo" layout="row">

                        <div flex="30" layout="row">
                            <md-icon md-svg-icon="/images/ic_attach_money_24px.svg"></md-icon>
                            <div layout="column"><br>
                                {{isValid(buyer.bu_payment_terms)? buyer.bu_payment_terms: 'Not Disclosed'}}
                                <div class="label">Payment Terms</div>
                            </div>
                        </div>

                        <span flex="15"></span>
                        <div layout="row" flex="20"><md-icon md-svg-icon="/images/ic_location_on_24px.svg"></md-icon></div>
                        <div layout="column" >
                            {{isValid(buyer.ad_address.ad_address1)? buyer.ad_address.ad_address1: 'Not Disclosed'}}
                            <br/>
                            {{isValid(buyer.ad_address.ad_address2)? buyer.ad_address.ad_address2: ''}}
                            <br ng-if="isValid(buyer.ad_address.ad_address2)"/>
                            {{isValid(buyer.ad_address.pa_parish) ? buyer.ad_address.pa_parish: ''}}
                            <br ng-if="isValid(buyer.ad_address.pa_parish)"/>
                            <div class="label">Address</div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-content class="{{new_rep ? 'dark':'white'}}">
                    <div layout="row">
                        <h3 class="{{new_rep ? 'dark':'white'}}">Approved Employees</h3>
                        <div flex class="md-actions edge" layout="row" layout-align="end center">
                            <md-button ng-click="toggleRepForm()" class="md-fab edge" aria-label="Add New Supply">
                                <md-icon class="edge" md-svg-icon="/images/ic_add_24px.svg"></md-icon>
                            </md-button>
                        </div>
                    </div>
                    <div ng-include="new_rep ? '/partials/representative_new.html':null">

                    </div>
                </md-card-content>
                <md-card-content>
                    <div class="farmerInfo" ng-repeat="representative in buyer.re_representatives">
                        <div layout="column">
                            <div layout-padding layout-align="space-around center" layout="row">
                                <md-icon md-svg-icon="/images/ic_verified_user_24px.svg"></md-icon>
                                <div flex>
                                    {{representative.re_name}}
                                </div>
                                <div flex>
                                    {{representative.re_contact}}
                                </div>
                                <div flex>
                                    {{representative.re_email}}
                                </div>
                            </div>
                            <div layout-padding layout-align="space-around center" layout="row">
                                <div flex>
                                    {{representative.re_crop}}
                                </div>
                                <div flex>
                                    {{representative.re_security_question}}
                                </div>
                                <div flex>
                                    {{representative.re_security_answer}}
                                </div>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-content class="{{new_demand? 'dark':'white'}}">
                    <div layout="row">
                        <h3 class="{{new_demand? 'dark':'white'}}">Demands</h3>
                        <div flex class="md-actions edge" layout="row" layout-align="end center">
                            <md-button ng-click="toggleDemandForm()" class="md-fab edge" aria-label="Add New Supply">
                                <md-icon class="edge" md-svg-icon="/images/ic_add_24px.svg"></md-icon>
                            </md-button>
                        </div>
                    </div>
                    <div ng-include="new_demand ? '/partials/demand_new.html':null">

                    </div>
                </md-card-content>
                <md-card-content>
                    <div class="farmerInfo" layout-padding layout="column" ng-repeat="demand in demands">
                        <div layout-align="space-around start" layout="row">
                            <div layout-align="left center" layout="column">
                                {{demand.cr_crop.cr_crop_name}} - {{demand.cr_crop.cr_crop_variety}}
                                <label>Produce/Crop</label>
                            </div>
                            <div layout-align="left center" layout="column">
                                {{demand.de_quantity}}{{demand.un_quantity_unit.un_unit_name}}
                                <label>Amount</label>
                            </div>
                            <div layout-align="left center" layout="column">
                                {{demand.de_price}} per {{demand.un_price_unit.un_unit_name}}
                                <label>Unit Cost</label>
                            </div>
                        </div>
                        <div layout-align="space-around start" layout="row">
                            <div layout-align="left center" layout="column">
                                {{demand.de_payment_terms}}
                                <label>Payout Term(s)</label>
                            </div>
                            <div layout-align="left center" layout="column">
                                {{demand.de_notes}}
                                <label>Note(s)</label>
                            </div>
                        </div>

                    </div>
                </md-card-content>
            </md-card>

        </div>
        <div layout="column" flex="40" flex-md="0" flex-sm="0" hide-sm>
            <div ng-include="'/partials/statistics_small.html'" >
            </div>
            <md-card ng-if="calls.length > 0" ng-include="'/partials/calls_card.html'">
            </md-card>
        </div>
    </md-content>
</ui-view>
