<ui-view>
    <md-content layout="row" layout-fill>
        <div flex="{{itemSelected ? 60: 100}}">
            <div layout="column" class="repeated-item" layout-fill>
                <md-card>
                    <md-card-content layout-padding>
                        <md-subheader>All Calls</md-subheader>
                        <div layout-padding layout="row" ng-repeat="call in calls">
                            <div flex>{{call.cc_entity_name}}</div>
                            <div flex>{{call.cc_date | date }}</div>
                            <div flex>{{call.ct_call_type.ct_call_type_name}}</div>
                            <div flex>{{call.cc_caller_id}}</div>
                            <div class="md-subheader" flex>{{call.cc_note}}</div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </md-content>
</ui-view>
