<div ng-controller="NewCommodityCtrl as ctrl">
    <md-content>

        <md-input-container flex>
            <label>Crop Name</label><input disabled="disabled" min="0" ng-required="true" ng-model="commodity.cr_crop.cr_crop_name" type="text"/>
        </md-input-container>

        <div layout-align="center center" layout="row">
            <md-input-container flex>
                <label>Quantity</label><input min="0" ng-required="true" ng-model="commodity.co_quantity" type="number"/>
            </md-input-container>

            <md-select ng-required="true" ng-model="commodity.un_quantity_unit" placeholder="Unit">
                <md-option ng-value="unit" ng-repeat="unit in units" ng-selected="{{unit.un_unit_name == commodity.un_quantity_unit.un_unit_name}}">{{unit.un_unit_name}}</md-option>
            </md-select>
        </div>
        <div layout-align="center center" layout="row">
            <md-input-container flex>
                <label>Unit Price</label>
                <input ng-required="true" min="0" ng-model="commodity.co_price" type="number"/>
            </md-input-container>
            per
            <md-select ng-required="true" ng-model="commodity.un_price_unit" placeholder="Unit">

                <md-option ng-value="unit" ng-repeat="unit in units" ng-selected="{{unit.un_unit_name == commodity.un_price_unit.un_unit_name}}">{{unit.un_unit_name}}</md-option>
            </md-select>
        </div>

        <md-input-container>
            <label>Preferred Payment Option(s)</label>
            <input ng-model="commodity.co_payment_preference" type="text"/>
        </md-input-container>

        <div layout="row">

            <md-input-container>
                <label>Available Date (yyyy-MM-dd)</label>
                <input ng-required="true" ng-model="commodity.co_availability_date" type="date"/>
            </md-input-container>

            <md-input-container>
                <label>End Date (yyyy-MM-dd)</label>
                <input ng-required="true" ng-model="commodity.co_until" type="date"/>
            </md-input-container>
        </div>

        <md-input-container>
            <label>Notes</label>
            <input ng-model="commodity.co_notes" type="text"/>
        </md-input-container>

        <md-input-container layout="row" layout-sm="column" layout-align="center center">
            <md-button ng-click="editCommodityItem()">Cancel</md-button>
            <md-button ng-click="updateCommodity()">Update</md-button>
        </md-input-container>
    </md-content>
</div>
