<div ng-controller="NewCommodityCtrl as ctrl">
    <md-content>
        <md-autocomplete
                ng-required="true"
                ng-disabled="false"
                md-selected-item="selectedItem"
                md-search-text="ctrl.searchText"
                md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                md-selected-item-change="ctrl.selectedItemChange(item)"
                md-items="item in ctrl.queryCropSearch(ctrl.searchText)"
                md-item-text="item.cr_crop_name+(item.cr_crop_variety == ''? '' : ' - ')+item.cr_crop_variety"
                md-min-length="3"
                placeholder="Please Enter the Crop/Produce Name">
            <md-item-template>
                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.cr_crop_name}}{{item.cr_crop_variety == ""? "" : " - "}}{{item.cr_crop_variety}}</span>
            </md-item-template>
            <md-not-found>
                No matches found for "{{ctrl.searchText}}".
            </md-not-found>
        </md-autocomplete>
        <div layout-align="center center" layout="row">
            <md-input-container flex>
                <label>Quantity</label><input min="0" ng-required="true" ng-model="ctrl.commodity.co_quantity" type="number"/>
            </md-input-container>

            <md-select ng-required="true" ng-model="ctrl.commodity.un_quantity_unit" placeholder="Unit">
                <md-option ng-value="unit" ng-repeat="unit in units">{{unit.un_unit_name}}</md-option>
            </md-select>
        </div>
        <div layout-align="center center" layout="row">
            <md-input-container flex>
                <label>Unit Price</label>
                <input ng-required="true" min="0" ng-model="ctrl.commodity.co_price" type="number"/>
            </md-input-container>
            per
            <md-select ng-required="true" ng-model="ctrl.commodity.un_price_unit" placeholder="Unit">
                <md-option ng-value="unit" ng-repeat="unit in units">{{unit.un_unit_name}}</md-option>
            </md-select>
        </div>

        <md-input-container>
            <label>Preferred Payment Option(s)</label>
            <input ng-model="ctrl.commodity.co_payment_preference" type="text"/>
        </md-input-container>

        <div layout="row">

            <md-input-container>
                <label>Available Date (yyyy-MM-dd)</label>
                <input ng-required="true" ng-model="ctrl.commodity.co_availability_date" type="date"/>
            </md-input-container>

            <md-input-container>
                <label>End Date (yyyy-MM-dd)</label>
                <input ng-required="true" ng-model="ctrl.commodity.co_until" type="date"/>
            </md-input-container>
        </div>

        <md-input-container>
            <label>Notes</label>
            <input ng-model="ctrl.commodity.co_notes" type="text"/>
        </md-input-container>

        <md-input-container layout="row" layout-sm="column" layout-align="center center">
            <md-button ng-click="newCommodityItem()">Cancel</md-button>
            <md-button ng-click="saveCommodity()">Save</md-button>
        </md-input-container>
    </md-content>
</div>