<ui-view>
    <md-content layout="row" layout-fill>
        <div layout="column" class="repeated-item" layout-fill flex="{{selected ? 60: 100}}">
            <md-card>
                <md-subheader>Price Trends Module</md-subheader>
            </md-card>

            <md-card>
                <div ng-include="'/partials/demand_listing_small.html'">

                </div>
            </md-card>

            <md-card>
                <md-subheader>Price Trends Supply</md-subheader>
            </md-card>

            <md-card>
                <md-subheader>Calls</md-subheader>
            </md-card>

            <md-card>
                <md-subheader>Input Locations</md-subheader>
            </md-card>
        </div>
    </md-content>
</ui-view>
