<ui-view>
    <md-content layout="row" layout-fill>
        <div layout="column" layout-fill flex-md="100" flex="60" flex-sm="100">
            <md-card>
                <md-card-content class="pretty2" layout-padding>
                    <div layout="row">
                        <div flex="10" class="profilePic"></div>
                        <div flex="70" layout="column" class="farmerNames farmerPretty2">
                            <label>Buyer</label>

                            <h2 class="farmerSummary">{{demand.bu_buyer.bu_buyer_name}}</h2>
                        </div>
                        <div layout="column" flex="20">
                            <div layout="row" >
                                <md-button ng-click="editBuyer()" class="md-icon-button" aria-label="Edit">
                                    <md-icon md-svg-icon="/images/ic_mode_edit_24px.svg"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="Favourites">
                                    <md-icon md-svg-icon="/images/ic_grade_24px.svg"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="Details">
                                    <md-icon md-svg-icon="/images/ic_more_vert_24px.svg"></md-icon>
                                </md-button>
                            </div>
                            <span flex></span>
                        </div>
                    </div>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-content>
                    <md-subheader>Supplies</md-subheader>
                    <div layout-padding layout="column">
                        <div layout-align="space-around start" layout="row">
                            <div layout-align="left center" layout="column">
                                {{demand.cr_crop.cr_crop_name}} - {{demand.cr_crop.cr_crop_variety}}
                                <label>Produce/Crop</label>
                            </div>
                            <div layout-align="left center" layout="column">
                                {{demand.de_quantity}}{{demand.un_quantity_unit.un_unit_name}}
                                <label>Amount</label>
                            </div>
                            <div layout-align="left center" layout="column">
                                {{demand.de_price}} per {{demand.un_price_unit.un_unit_name}}
                                <label>Unit Cost</label>
                            </div>
                        </div>
                        <div layout-align="space-around start" layout="row">
                            <div layout-align="left center" layout="column">
                                {{demand.de_payment_terms}}
                                <label>Payout Term(s)</label>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-content layout-padding>
                    <md-subheader>Supplies</md-subheader>
                    <table class="table table-hover table-mc-light-blue">
                        <thead>
                        <tr>
                            <th>Farmer Name</th>
                            <th>Supply Name</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="commodity in commodities" ng-click="selectedItem(commodity)"
                            selection-model
                            selection-model-type="checkbox"
                            selection-model-mode="multiple-additive"
                            selection-model-selected-items="m_commodities"
                            selection-model-on-change="checked(commodity)">
                            <td>{{commodity.fa_farmer.fa_first_name}} {{commodity.fa_farmer.fa_last_name}}</td>
                            <td>{{ commodity.cr_crop.cr_crop_name }}{{ commodity.cr_crop.cr_crop_variety?" - " + commodity.cr_crop.cr_crop_variety:"" }}</td>
                            <td>{{ commodity.co_quantity |number }} {{commodity.un_quantity_unit.un_unit_name}}</td>
                            <td>{{ commodity.co_price | currency }} per {{commodity.un_price_unit.un_unit_name}}</td>
                            <td><input type="checkbox"></td>
                        </tr>
                        </tbody>
                    </table>
                    {{selectedItems.length}}
                </md-card-content>
            </md-card>

        </div>
        <div ng-include="'/partials/transaction_cart.html'" layout="column" flex="40">
        </div>
    </md-content>
</ui-view>
