<ui-view>
    <md-content layout="row" layout-fill>
        <div flex="{{itemSelected ? 60: 100}}">
            <div layout="column" class="repeated-item" layout-fill>
                <md-card>
                    <md-card-content layout-padding>
                        <md-subheader>Active Demands</md-subheader>
                        <div layout-padding layout="row" ng-repeat="demand in demands" ng-click="selectedItem(demand)">
                            <div flex>{{ demand.cr_crop.cr_crop_name }} - {{ demand.cr_crop.cr_crop_variety }}</div>
                            <div flex>{{ demand.de_quantity |number }} {{demand.un_quantity_unit.un_unit_name}}</div>
                            <div flex>{{ demand.de_price | currency }} per {{demand.un_price_unit.un_unit_name}}</div>
                            <div flex>{{demand.de_posting_date | date}} - {{ demand.de_until | date }}</div>
                            <div class="md-subheader" flex>{{demand.bu_buyer.bu_buyer_name}}</div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>
        <div ng-include="itemSelected ? '/partials/matches_small.html':null" flex="40">

        </div>
    </md-content>
</ui-view>
