<md-card-content>
    <table class="table table-hover table-mc-light-blue">
        <thead>
        <tr>
            <th>Crop</th>
            <th>Quantity @ Unit Price</th>
            <th>Availability Period</th>
            <th>Buyer</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="demand in demands | limitTo:3" ng-click="selectedDemand(demand)">
            <td flex>{{ demand.cr_crop.cr_crop_name }}{{ demand.cr_crop.cr_crop_variety?" - "+demand.cr_crop.cr_crop_variety:"" }}</td>
            <td flex>{{ demand.de_quantity }} {{demand.un_quantity_unit.un_unit_name}} @ ${{ demand.de_price }} per {{demand.un_price_unit.un_unit_name}}</td>
            <td flex>{{demand.de_posting_date | date}} - {{ demand.de_until | date }}</td>
            <td flex>{{demand.bu_buyer.bu_buyer_name}}</td>
        </tr>
        </tbody>
    </table>
    <div style="text-align: center" layout-align="center center" ng-if="demands.length >= 3">
        <a ng-href="#/demands" >More Results</a>
    </div>
</md-card-content>