<ui-view>
    <md-content layout="row" layout-fill>
        <div layout="column" layout-fill flex-md="100" flex="60" flex-sm="100">
            <md-card>
                <md-card-content class="pretty" layout-padding>
                    <div layout="row">
                        <div flex="10" class="profilePic"></div>
                        <div flex="70" layout="column" class="farmerNames farmerPretty2">
                            <label>Farmer</label>
                            <div layout="column">
                                <H1 class="farmerSummary">{{farmer.fa_first_name}} {{farmer.fa_middle_name}} {{farmer.fa_last_name}}</h1>
                            </div>


                        </div>
                        <div layout="column" flex="20">
                            <div layout="row" >
                                <md-button ng-click="editFarmer()" class="md-icon-button" aria-label="Edit">
                                    <md-icon md-svg-icon="/images/ic_mode_edit_24px.svg"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="Favourites">
                                    <md-icon md-svg-icon="/images/ic_grade_24px.svg"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="Details">
                                    <md-icon md-svg-icon="/images/ic_more_vert_24px.svg"></md-icon>
                                </md-button>
                            </div>
                            <span flex></span>
                        </div>
                    </div>
                </md-card-content><!--- start of trn data on card -->
                <md-card-content layout="column">
                    <div layout-align="space-around start" class="farmer_info" layout="row">
                        <div flex layout="row">
                            <md-icon md-svg-icon="/images/ic_account_box_24px.svg"></md-icon>
                            <div layout-align="center" layout="column">
                                {{isValid(farmer.fa_government_id)? farmer.fa_government_id:  'TRN not found'}}
                                <div class="label">TRN</div>
                            </div>
                        </div>
                        <div flex layout="row">
                            <md-icon md-svg-icon="/images/ic_event_note_24px.svg"></md-icon>
                            <div layout-align="center" layout="column">
                                {{isValid(farmer.dob)? (farmer.fa_dob|date): 'Not Disclosed'}}
                                <div class="label">Date of Birth</div>
                            </div>
                        </div>
                        <div flex layout="row">
                            <md-icon md-svg-icon="/images/ic_multitrack_audio_24px.svg"></md-icon>
                            <div layout-align="center" layout="column">
                                {{isValid(farmer.fa_deceased)? 'Unknown' : (farmer.fa_deceased ? 'Yes': 'No')}}
                                <div class="label">Deceased</div>
                            </div>
                        </div>
                    </div>
                    <div layout-align="space-around start" class="farmer_info" layout="row">
                        <div layout="row" flex>
                            <md-icon md-svg-icon="/images/ic_call_24px.svg"></md-icon>
                            <div layout-align="center" layout="column">
                                {{isValid(farmer.fa_contact)? farmer.fa_contact : 'Not Disclosed'}}{{isValid(farmer.fa_contact2) ? ' or ' + farmer.fa_contact2: null}}
                                <div class="label">Contact</div>
                            </div>
                        </div>

                        <div layout="row" flex>
                            <md-icon md-svg-icon="/images/ic_email_24px.svg"></md-icon>
                            <div layout-align="center" layout="column">
                                {{isValid(farmer.fa_email)? (farmer.fa_email| lowercase): 'Not Disclosed'}}
                                <div class="label">Email</div>
                            </div>
                        </div>
                        <span flex></span>
                    </div>
                    <div layout-align="space-around start" class="lastInfo" layout="row">
                        <span flex></span>
                        <md-icon md-svg-icon="/images/ic_location_on_24px.svg"></md-icon>
                        <div layout-align="center" layout="column">
                            {{isValid(farmer.ad_address.ad_address1)? farmer.ad_address.ad_address1: 'Not Disclosed'}}
                            <br/>
                            {{isValid(farmer.ad_address.ad_address2)? farmer.ad_address.ad_address2: ''}}
                            <br ng-if="isValid(farmer.ad_address.ad_address2)"/>
                            {{isValid(farmer.ad_address.pa_parish) ? farmer.ad_address.pa_parish: ''}}
                            <br ng-if="isValid(farmer.ad_address.pa_parish)"/>
                            <div class="label">Address</div>
                        </div>
                        <span flex></span>
                    </div>
                </md-card-content>
            </md-card>

            <md-card>

                <md-card-content ng-include="'/partials/membership_card.html'">


                </md-card-content>

            </md-card>

            <md-card>


                <md-card-content ng-include="'/partials/farms_card.html'">


                </md-card-content>

            </md-card>



            <md-card>


                    <md-card-content ng-include="'/partials/supplies_card.html'">


                    </md-card-content>


            </md-card>
        </div>
        <div layout="column" flex="40" flex-md="0" flex-sm="0" hide-sm>

            <div ng-include="'/partials/statistics_small.html'"></div>

            <div class="popupcommodities" onclick="this.style.display='none'" id="commodity-{{commodity._id}}" flex="50" layout="row" style="z-index:100000;width:40%;border-style:none;background-color:white;display:none;position:absolute;margin-left:32px;bottom:0px;padding:0;" class="farmerInfo" layout-padding ng-repeat="commodity in commodities">

                <div style="background-color:#d8e4f1;width:100%;height:80px;margin:0;padding:0;"><span style="font-weight:500;font-size:15px;padding-left:10px;line-height:80px;text-transform: uppercase;">{{isValid(commodity.cr_crop.cr_crop_name) ? commodity.cr_crop.cr_crop_name:  'N/A'}}</span>

                    <md-button style="position:absolute;top:12px;right:24px;" ng-click="editCommodityItem($index)" class="md-icon-button" aria-label="Edit">
                        <md-icon md-svg-icon="/images/ic_mode_edit_24px.svg"></md-icon>
                    </md-button>

                </div>

                <div layout-align="space-around start" class="farmer_info" layout="row">

                    <div flex layout="row">
                        <md-icon class="no-margin" md-svg-icon="/images/icons/icons_crop.svg"></md-icon>
                        <div layout-align="center" style="text-align: center;" layout="column" ng-class="{'md-offset': 1}">
                            {{isValid(commodity.cr_crop.cr_crop_name) ? commodity.cr_crop.cr_crop_name:  'N/A'}}
                            <div class="label">Produce</div>
                        </div>
                    </div>


                    <div flex layout="row">
                        <md-icon class="no-margin" md-svg-icon="/images/icons/icons_variety.svg"></md-icon>
                        <div layout-align="center" style="text-align: center;" layout="column" ng-class="{'md-offset': 1}">
                            {{isValid(commodity.cr_crop.cr_crop_variety) ? commodity.cr_crop.cr_crop_variety:  'N/A'}}
                            <div class="label">Variety</div>
                        </div>
                    </div>

                    <div flex layout="row">

                    </div>

                </div>


                <div layout-align="space-around start" class="farmer_info" layout="row">



                    <div flex layout="row">
                        <md-icon class="no-margin" md-svg-icon="/images/icons/icons_amount.svg"></md-icon>
                        <div layout-align="center" style="text-align: center;" layout="column" ng-class="{'md-offset': 1}">
                            {{commodity.co_quantity}}{{commodity.un_quantity_unit.un_unit_name}}
                            <div class="label">Amount</div>
                        </div>
                    </div>

                    <div flex layout="row">
                        <md-icon class="no-margin" md-svg-icon="/images/icons/icons_payment_terms.svg"></md-icon>
                        <div layout-align="center" style="text-align: center;" layout="column" ng-class="{'md-offset': 1}">
                            {{isValid(commodity.co_payment_preference) ? commodity.co_payment_preference:  'N/A'}}
                            <div class="label">Payment Terms</div>
                        </div>
                    </div>


                    <div flex layout="row">
                        <md-icon class="no-margin" md-svg-icon="/images/icons/icons_deceased.svg"></md-icon>
                        <div layout-align="center" style="text-align: center;" layout="column" ng-class="{'md-offset': 1}">
                            Available
                            <div class="label">Status</div>
                        </div>
                    </div>

                </div>


                <div layout-align="space-around start" class="farmer_info" layout="row">


                    <div flex layout="row">
                        <md-icon class="no-margin" md-svg-icon="/images/icons/icons_recurring.svg"></md-icon>
                        <div layout-align="center" style="text-align: center;" layout="column" ng-class="{'md-offset': 1}">
                            {{isValid(commodity.co_recurring) ? commodity.co_recurring:  'N/A'}}
                            <div class="label">Recurring</div>
                        </div>
                    </div>



                    <div flex layout="row">
                        <md-icon class="no-margin" md-svg-icon="/images/report-icons/icons_date_approve.svg"></md-icon>
                        <div layout-align="center" style="text-align: center;" layout="column" ng-class="{'md-offset': 1}">
                            {{isValid(commodity.co_availability_date) ? commodity.co_availability_date.split("T")[0]:  'N/A'}}
                            <div class="label">Available</div>
                        </div>
                    </div>


                    <div flex layout="row">
                        <md-icon class="no-margin" md-svg-icon="/images/report-icons/icons_date_expires.svg"></md-icon>
                        <div layout-align="center" style="text-align: center;" layout="column" ng-class="{'md-offset': 1}">
                            {{isValid(commodity.co_expiration_date) ? commodity.co_expiration_date:  'N/A'}}
                            <div class="label">Expiry Date</div>
                        </div>
                    </div>




                </div>

            </div>

        </div>

    </md-content>
</ui-view>

