<md-content layout-padding layout="column">
    <div layout="row">
        <md-input-container flex>
            <label>Farm Name</label>
            <input type="text" ng-model="farm.fr_name">
        </md-input-container>
        <md-input-container flex>
            <label>District ID</label>
            <input type="number" ng-model="farm.fr_district_id">
        </md-input-container>

        <md-input-container flex>
            <label>Extension ID</label>
            <input type="number" ng-model="farm.fr_extension_id">
        </md-input-container>
    </div>


    <md-input-container>
        <label>Address 1</label>
        <input type="text" ng-model="farm.ad_address1">
    </md-input-container>


    <div layout="row">
        <md-input-container flex>
            <label>Address 2</label>
            <input type="text" ng-model="farm.ad_address2">
        </md-input-container>
        <md-input-container flex>
            <label>City</label>
            <input type="text" ng-model="farm.ad_city">
        </md-input-container>
    </div>

    <div layout="row">
        <md-select flex ng-init="farm.ad_address.pa_parish" placeholder="Parish" ng-model="farm.pa_parish">
            <md-option ng-value="parish.pa_parish_name" ng-repeat="parish in parishes">{{parish.pa_parish_name}} | {{parish.pa_parish_code}}</md-option>
        </md-select>
    </div>

    <md-input-container>
        <label>Farm Size (Acres)</label>
        <input type="number" ng-model="farm.fr_size">
    </md-input-container>

    <md-input-container layout="row" layout-align="center center">
        <md-button ng-click="cancelAdd()">Cancel</md-button>
        <md-button ng-click="addNewFarm()">Save</md-button>
    </md-input-container>
</md-content>