<ui-view>
    <md-content layout="row" layout-fill>
        <div layout="column" layout-fill flex-md="100" flex="60" flex-sm="100">
            <md-card>
                <md-card-content class="pretty" layout-padding>
                    <div layout="row">
                        <div flex="10" class="profilePic"></div>
                        <div flex="70" layout="column" class="farmerNames farmerPretty2">
                            <label>Farmer</label>
                            <div layout="row">
                                <H1 class="farmerSummary">{{farmer.fa_first_name}}</H1> &nbsp;
                                <h1 class="farmerSummary">{{farmer.fa_middle_name}}</h1> &nbsp;
                                <h1 class="farmerSummary">{{farmer.fa_last_name}}</h1>
                            </div>


                        </div>
                        <div layout="column" flex="20">
                            <div layout="row" >
                                <md-button ng-click="editFarmer()" class="md-icon-button" aria-label="Edit">
                                    <md-icon md-svg-icon="/images/ic_mode_edit_24px.svg"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="Favourites">
                                    <md-icon md-svg-icon="/images/ic_grade_24px.svg"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="Details">
                                    <md-icon md-svg-icon="/images/ic_more_vert_24px.svg"></md-icon>
                                </md-button>
                            </div>
                            <span flex></span>
                        </div>
                    </div>
                </md-card-content>
                <md-card-content layout="column">
                    <div layout-align="space-around start" class="farmer_info" layout="row">
                        <div flex layout="row">
                            <md-icon md-svg-icon="/images/ic_account_box_24px.svg"></md-icon>
                            <div layout-align="center" layout="column">
                                {{isValid(farmer.fa_government_id)? farmer.fa_government_id:  'TRN not found'}}
                                <div class="label">TRN</div>
                            </div>
                        </div>
                        <div flex layout="row">
                            <md-icon md-svg-icon="/images/ic_event_note_24px.svg"></md-icon>
                            <div layout-align="center" layout="column">
                                {{isValid(farmer.dob)? (farmer.fa_dob|date): 'Not Disclosed'}}
                                <div class="label">Date of Birth</div>
                            </div>
                        </div>
                        <div flex layout="row">
                            <md-icon md-svg-icon="/images/ic_multitrack_audio_24px.svg"></md-icon>
                            <div layout-align="center" layout="column">
                                {{isValid(farmer.fa_deceased)? 'Unknown' : (farmer.fa_deceased ? 'Yes': 'No')}}
                                <div class="label">Deceased</div>
                            </div>
                        </div>
                    </div>
                    <div layout-align="space-around start" class="farmer_info" layout="row">
                        <div layout="row" flex>
                            <md-icon md-svg-icon="/images/ic_call_24px.svg"></md-icon>
                            <div layout-align="center" layout="column">
                                {{isValid(farmer.fa_contact)? farmer.fa_contact : 'Not Disclosed'}}{{isValid(farmer.fa_contact2) ? ' or ' + farmer.fa_contact2: null}}
                                <div class="label">Contact</div>
                            </div>
                        </div>

                        <div layout="row" flex>
                            <md-icon md-svg-icon="/images/ic_email_24px.svg"></md-icon>
                            <div layout-align="center" layout="column">
                                {{isValid(farmer.fa_email)? (farmer.fa_email| lowercase): 'Not Disclosed'}}
                                <div class="label">Email</div>
                            </div>
                        </div>
                        <span flex></span>
                    </div>
                    <div layout-align="space-around start" class="lastInfo" layout="row">
                        <span flex></span>
                        <md-icon md-svg-icon="/images/ic_location_on_24px.svg"></md-icon>
                        <div layout-align="center" layout="column">
                            {{isValid(farmer.ad_address.ad_address1)? farmer.ad_address.ad_address1: 'Not Disclosed'}}
                            <br/>
                            {{isValid(farmer.ad_address.ad_address2)? farmer.ad_address.ad_address2: ''}}
                            <br ng-if="isValid(farmer.ad_address.ad_address2)"/>
                            {{isValid(farmer.ad_address.pa_parish) ? farmer.ad_address.pa_parish: ''}}
                            <br ng-if="isValid(farmer.ad_address.pa_parish)"/>
                            <div class="label">Address</div>
                        </div>
                        <span flex></span>
                    </div>
                </md-card-content>
            </md-card>
            <md-card ng-if="memberships.length > 0">
                <md-card-content>
                    <div layout-padding layout="column" ng-repeat="membership in memberships">
                        <div layout="row">
                            <div flex layout-align="start center" layout="column">
                                {{membership.mt_type_id.mt_type_name}}
                                <div class="label">Membership Type</div>
                            </div>
                            <div flex layout-align="start center" layout="column">
                                {{membership.br_branch_id.br_branch_name}} &nbsp;
                                <div class="label">Branch</div>
                            </div>
                            <div flex layout-align="start center" layout="column">
                                {{membership.mi_start | date}} - {{membership.mi_expiration | date}}
                                <div class="label">Membership Period</div>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-content class="{{newFarm ? 'dark':'white'}}">
                    <div layout="row">
                        <h3 class="{{newFarm ? 'dark':'white'}}">Farms</h3>
                        <div flex class="md-actions edge" layout="row" layout-align="end center">
                            <md-button ng-click="newFarmLocation()" class="md-fab edge" aria-label="Add New Farm">
                                <md-icon class="edge" md-svg-icon="/images/ic_add_24px.svg"></md-icon>
                            </md-button>
                        </div>
                    </div>
                    <div ng-include="newFarm ? '/partials/farm_new.html':null">

                    </div>
                </md-card-content>
                <md-card-content>
                    <div class="farmerInfo" layout="column" layout-padding ng-repeat="farm in farmer.fr_farms">
                        <div layout-align="space-around start" layout="row" >
                            <md-icon flex="5" md-svg-icon="/images/ic_location_on_24px.svg"></md-icon>
                            <div layout="column" flex>
                                <div layout-align="start center" layout="column">
                                    {{farm.fr_name}}
                                    <div class="label">Farm Name</div>
                                </div>
                            </div>
                            <div layout="column" flex>
                                <div layout-align="start center" layout="column">
                                    {{farm.fr_size}}
                                    <div class="label">Farm Size (Acre)</div>
                                </div>
                            </div>
                            <div layout="column" flex>
                                <div layout-align="start center" layout="column">
                                    {{farm.ad_address1}}
                                    <div class="label">Address 1</div>
                                </div>
                            </div>
                        </div>
                        <div layout-align="space-around start" layout-padding layout="row">
                            <span flex="5"></span>
                            <div layout="column" flex>
                                <div layout-align="start center" layout="column">
                                    {{farm.ad_city}}
                                    <div class="label">City</div>
                                </div>
                            </div>
                            <div layout="column" flex>
                                <div layout-align="start center" layout="column">
                                    {{farm.di_district.di_parish_name}}
                                    <div class="label">Parish</div>
                                </div>
                            </div>
                            <div layout="column" flex>
                                <div layout-align="start center" layout="column">
                                    {{farm.di_district.di_extension_name}} - {{farm.di_district.di_district_name}}
                                    <div class="label">Extension - District</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-content class="{{newCommodity ? 'dark':'white'}}">
                    <div layout="row">
                        <h3 class="{{newCommodity ? 'dark':'white'}}">Supplies</h3>
                        <div flex class="md-actions edge" layout="row" layout-align="end center">
                            <md-button ng-click="newCommodityItem()" class="md-fab edge" aria-label="Add New Supply">
                                <md-icon class="edge" md-svg-icon="/images/ic_add_24px.svg"></md-icon>
                            </md-button>
                        </div>
                    </div>
                    <div ng-include="newCommodity ? '/partials/commodity_new.html':null">

                    </div>
                </md-card-content>
                <md-card-content>
                    <div class="farmerInfo" layout-padding layout="column" ng-repeat="commodity in commodities">
                        <div layout-align="space-around start" layout="row">
                            <div layout-align="left center" layout="column">
                                {{commodity.cr_crop.cr_crop_name}} - {{commodity.cr_crop.cr_crop_variety}}
                                <label>Produce/Crop</label>
                            </div>
                            <div layout-align="left center" layout="column">
                                {{commodity.co_quantity}}{{commodity.un_quantity_unit.un_unit_name}}
                                <label>Amount</label>
                            </div>
                            <div layout-align="left center" layout="column">
                                {{commodity.co_price}} per {{commodity.un_price_unit.un_unit_name}}
                                <label>Unit Cost</label>
                            </div>
                        </div>
                        <div layout-align="space-around start" layout="row">
                            <div layout-align="left center" layout="column">
                                {{commodity.co_payment_preference}}
                                <label>Payout Preference</label>
                            </div>
                            <span></span>
                            <div layout-align="left center" layout="column">
                                {{commodity.co_notes}}
                                <label>Notes</label>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div ng-include="'/partials/statistics_small.html'" layout="column" flex="40" flex-md="0" flex-sm="0" hide-sm>
        </div>
    </md-content>
</ui-view>
