<div layout="column" layout-fill>

    <md-card>
        <md-card-content class="pretty">
            <div layout-fill layout-align="center" layout="column">
                <div layout="row">
                    <div layout-padding><img src="../images/ic_arrow_back_24px.svg"/></div>
                    <div>View More</div>
                    <span flex layout-fill></span>
                    <div><img src="../images/ic_mode_edit_24px.svg"/></div>
                    <div><img src="../images/ic_more_vert_24px.svg"/> </div>
                </div>
                <div layout="row" class="farmerPretty">
                    <div flex="30" class="profilePic"></div>
                    <div flex="70" layout="column" class="farmerNames">
                        <label>Farmer</label>
                        <H3 class="farmerSummary">{{selectedFarmer.fa_first_name}} &nbsp;{{selectedFarmer.fa_middle_name}}</H3>
                        <h2 class="farmerSummary">{{selectedFarmer.fa_last_name}}</h2>
                    </div>
                </div>
            </div>
        </md-card-content>
        <md-card-content>
            <div layout="column">
                <div layout-padding layout="row">
                    <div align-items="center" flex="20"><img src="../images/ic_contacts_24px.svg"/> </div>
                    <div class="farmerInfo" flex="80" layout="column">
                        <label>JAS #</label>
                        {{selectedFarmer.fa_jas_number}}
                    </div>
                </div>
                <div layout-padding layout="row">
                    <div flex="20"><img src="../images/ic_call_24px.svg"/> </div>
                    <div class="farmerInfo" flex="80" layout="column">
                        <label>Contact #</label>
                        {{selectedFarmer.fa_contact}}
                    </div>
                </div>
                <div layout-padding layout="row">
                    <div flex="20"><img src="../images/ic_email_24px.svg"/> </div>
                    <div class="farmerInfo" flex="80" layout="column">
                        <label>Email</label>
                        {{selectedFarmer.fa_email}}
                    </div>
                </div>
                <div layout-padding layout="row">
                    <div flex="20"><img src="../images/ic_location_on_24px.svg"/></div>
                    <div flex="80" layout="column">
                        <label>Address</label>
                        {{selectedFarmer.ad_address.ad_address1}}<br/>
                        {{selectedFarmer.ad_address.pa_parish }}
                    </div>
                </div>
            </div>
        </md-card-content>
    </md-card>

</div>