<div>
    <ui-view layout="column" layout-fill >
        <md-content>

            <md-card>
                <md-card-content layout-padding>

                    <table class="table1" flex>

                        <thead class="farmer-header">

                            <tr>
                                <th class="initial">JAS #</th>
                                <th class="flex1">First</th>
                                <th class="flex1">Last</th>
                                <th class="flex1">DOB</th>
                                <th class="flex1">Contact</th>
                                <th class="flex1">Deceased</th>
                                <th class="flex1">Parish</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="farmer in farmers | filter: search">

                                <td class="initial">{{ farmer.fa_jas_number }}</td>
                                <td class="flex1">{{ farmer.fa_first_name }}</td>
                                <td class="flex1">{{ farmer.fa_last_name }}</td>
                                <td class="flex1">{{ farmer.fa_dob | date }}</td>
                                <td class="flex1">{{ farmer.fa_contact }}</td>
                                <td class="flex1">{{ farmer.fa_deceased }}</td>
                                <td class="flex1">{{ farmer.ad_address.pa_parish }}</td>
                            </tr>
                        </tbody>
                    </table>

                </md-card-content>
            </md-card>

        </md-content>
    </ui-view>
</div>
