<div>
    <md-content>
        <ui-view layout="column" layout-fill layout-padding>
        <md-card>
            <md-card-content>
                <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                    <tr>
                        <th>First</th>
                        <th>Middle</th>
                        <th>Last</th>
                        <th>Gender</th>
                        <th>TRN</th>
                        <th>DOB</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>Deceased</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="farmer in farmers">
                        <td>{{ farmer.fa_first_name}}</td>
                        <td>{{ farmer.fa_middle_name }}</td>
                        <td>{{ farmer.fa_last_name }}</td>
                        <td>{{ farmer.fa_gender}}</td>
                        <td>{{ farmer.fa_government_id }}</td>
                        <td>{{ farmer.fa_dob | date}}</td>
                        <td>{{ farmer.fa_contact}}</td>
                        <td>{{ farmer.fa_email | lowercase}}</td>
                        <td>{{ farmer.fa_deceased }}</td>
                    </tr>
                    </tbody>
                </table>
            </md-card-content>
        </md-card>
        </ui-view>
    </md-content>
</div>
