<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools dialog-box-header">
            <h2>Add New Input</h2>
            <span flex></span>
            <md-button class="md-icon-button">
                <md-icon md-svg-src="" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div style="width: 700px;">
            <div layout="row">
                <md-select placeholder="Supplier Name" ng-model="input.su_supplier" flex >
                    <md-option ng-repeat="supplier in suppliers" ng-value="supplier._id">
                        {{supplier.su_supplier_name}}</md-option>
                </md-select>
                <md-input-container flex>
                    <label>Input Name</label>
                    <input type="text" ng-model="input.ip_input_name"/>
                </md-input-container>
                <md-input-container flex>
                <label>Brand</label>
                <input type="text" ng-model="input.ip_brand"/>
                </md-input-container>
            </div>
            <md-input-container>
                <label>Description</label>
                <input type="text" ng-model="input.ip_description"/>
            </md-input-container>
            <div layout="row">
                <md-input-container>
                    <label>Price</label>
                    <input type="text" ng-model="input.ip_price"/>
                </md-input-container>

                <md-select placeholder="Unit" ng-model="input.un_price_unit" flex>
                    <md-option ng-repeat="unit in units" ng-value="unit._id">{{unit.un_unit_name}}</md-option>
                </md-select>
                <md-select placeholder="Input Type" ng-model="input.it_input_type" flex>
                    <md-option ng-repeat="input_type in input_types" ng-value="input_type._id">
                        {{input_type.it_input_type_name}}</md-option>
                </md-select>
                <md-select placeholder="JAS Discounted" ng-model="input.ip_jas_discounted" flex>
                    <md-option ng-repeat="discount in discounts" ng-value="discount">{{discount}}</md-option>
                </md-select>
            </div>
            <md-input-container>
                <label>Terms of Discount</label>
                <input type="text" ng-model="input.ip_discount_terms"/>
            </md-input-container>
        </div>
        </md-dialog-content>
        <div class="md-actions">
            <md-button ng-click="save()" class="md-primary">
                Save
            </md-button>
            <md-button ng-click="cancel()" class="md-primary">
                Cancel
            </md-button>
        </div>
</md-dialog>
