<md-card-content layout="column">

    <div layout="row">
        <h3 class="white">Membership</h3>
    </div>

    <div layout-align="space-around start" class="farmer_info" layout="row">
        <div flex layout="row">
            <md-icon md-svg-icon="/images/report-icons/icons_ID.svg"></md-icon>
            <div layout-align="center" layout="column">
                Active
                <div class="label">Status</div>
            </div>
        </div>
        <div flex layout="row">
            <md-icon md-svg-icon="/images/report-icons/icons_ID.svg"></md-icon>
            <div layout-align="center" layout="column">
                {{isValid(memberships[0].mt_type_id.mt_type_name)? memberships[0].mt_type_id.mt_type_name:  'Not Found'}}
                <div class="label">Membership Type</div>
            </div>
        </div>
        <div flex layout="row">
            <md-icon md-svg-icon="/images/report-icons/icons_ID.svg"></md-icon>
            <div layout-align="center" layout="column">
                {{isValid(farmer.fa_sub_sector)? farmer.fa_sub_sector:  'Subsector Not Found'}}
                <div class="label">Subsector</div>
            </div>
        </div>
    </div>

    <div layout-align="space-around start" class="farmer_info" layout="row">
        <div flex layout="row">
            <md-icon md-svg-icon="/images/report-icons/icons_ID.svg"></md-icon>
            <div layout-align="center" layout="column">
                {{isValid(farmer.fa_jas_number)? farmer.fa_jas_number:  'ID Number Not Found'}}
                <div class="label">JAS ID#</div>
            </div>
        </div>
        <div flex layout="row">
            <md-icon md-svg-icon="/images/report-icons/icons_ID.svg"></md-icon>
            <div layout-align="center" layout="column">
                {{isValid(farmer.fa_rada_id)? farmer.fa_rada_id:  'ID Number Not Found'}}
                <div class="label">RADA ID#</div>
            </div>
        </div>
        <div flex layout="row">
        </div>
    </div>

    <div layout-align="space-around start" class="farmer_info" layout="row">
        <div flex layout="row">
            <md-icon md-svg-icon="/images/ic_location_on_24px.svg"></md-icon>
            <div layout-align="center" layout="column">
                {{isValid(memberships[0].br_branch_id.br_branch_name)? memberships[0].br_branch_id.br_branch_name:  'Branch Not Found'}}
                <div class="label">Branch</div>
            </div>
        </div>
        <div flex layout="row">
        </div>
    </div>

    <div layout-align="space-around start" class="farmer_info" layout="row">
        <div flex layout="row">
            <md-icon md-svg-icon="/images/report-icons/icons_date_expires.svg"></md-icon>
            <div layout-align="center" layout="column">
                {{isValid(memberships[0].mi_expiration)? memberships[0].mi_expiration.split("T")[0]:  'Not Found'}}
                <div class="label">Exp Date</div>
            </div>
        </div>
        <div flex layout="row">
            <md-icon md-svg-icon="/images/report-icons/icons_date_approve.svg"></md-icon>
            <div layout-align="center" layout="column">
                {{isValid(memberships[0].mi_start)? memberships[0].mi_start.split("T")[0]:  'Not Found'}}
                <div class="label">Reg Date</div>
            </div>
        </div>
        <div flex layout="row">
        </div>
    </div>

</md-card-content>