<div layout="column" layout-fill>
    <md-card>
        <md-subheader>Previously Generated Reports</md-subheader>
        <md-card-content layout="column">
            <table class="table table-hover table-mc-light-blue">
            <tr ng-repeat="report in reports" layout="row">
                <td>
                    <a href="/report/{{report._id}}">
                    {{report.re_report_name}}</a>
                </td>
                <td>
                    {{report.re_report_date | date: 'medium'}}
                </td>
                <td>
                    {{report.us_user.us_user_first_name}} {{report.us_user.us_user_last_name}}
                </td>
            </tr>
            </table>
        </md-card-content>
    </md-card>
</div>