<ui-view>
    <md-content layout="row" layout-fill>
        <div flex="{{selected ? 60: 100}}" layout="column" layout-fill>

            <md-card>
                <md-content layout-padding>

                    <md-subheader class="md-no-sticky md-primary header-title">Farmers:</md-subheader>

                    <div layout="row" layout-align="flex | flex-start | center | flex-end | space-between | space-around">

                        <table class="table1">
                            <thead class="farmer-header">

                                <tr>
                                    <th class="initial">JAS #</th>
                                    <th class="flex1">First</th>
                                    <th class="flex1">Last</th>
                                    <th class="flex1">Parish</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr id="row-select" ng-repeat="farmer in results.farmers" ng-animate="'animate'" ng-click="selectedElement(farmer)">
                                    <td class="initial">{{ farmer.fa_jas_number }}</td>
                                    <td class="flex1">{{ farmer.fa_first_name }}</td>
                                    <td class="flex1">{{ farmer.fa_last_name }}</td>
                                    <td class="flex1">{{ farmer.ad_address.pa_parish }}</td>
                                </tr>

                                <tr ng-if="results.farmers.length == 10">
                                    <td style="text-align: center" colspan="4">
                                        <a ng-href="#/farmer?searchTerms={{terms}}" >More Results</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </md-content>
            </md-card>

            <md-card>
                <md-content layout-padding>

                    <md-subheader class="md-no-sticky md-primary header-title">Buyers:</md-subheader>

                    <div layout="row" layout-align="flex | flex-start | center | flex-end | space-between | space-around">

                        <table class="table1">
                            <thead class="farmer-header">
                                <tr>
                                    <th class="initial">Buyer Name</th>
                                    <th class="flex1">Type</th>
                                    <th class="flex1">Email</th>
                                    <th class="flex1">Payment Terms</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="row-select" ng-repeat="buyer in results.buyers">
                                    <td class="initial">{{ buyer.bu_buyer_name }}</td>
                                    <td class="flex1">{{ buyer.bt_buyer_type }}</td>
                                    <td class="flex1">{{ buyer.bu_email}}</td>
                                    <td class="flex1">{{ buyer.ad_address.pa_parish }}</td>
                                </tr>

                                <tr ng-if="results.buyers.length == 10">
                                    <td style="text-align: center" colspan="4">
                                        <a ng-href="#/buyer?searchTerms={{terms}}" >More Results</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </md-content>
            </md-card>

            <md-card>
                <md-content layout-padding>
                    <md-subheader class="md-primary">Transactions:</md-subheader>
                </md-content>
            </md-card>

            <md-card>
                <md-content layout-padding>
                    <md-subheader class="md-primary">Calls:</md-subheader>
                </md-content>
            </md-card>
        </div>
        <div ng-include="'/partials/farmer_profile_small.html'" flex="{{selected ? 40: 0}}">

        </div>
    </md-content>
</ui-view>