<ui-view>
    <md-content layout="row" layout-fill>
        <div flex="{{selected ? 60: 100}}" layout="column" layout-fill>
            <md-card>
                <md-content layout-padding>
                <md-subheader class="md-no-sticky md-primary">Farmers:</md-subheader>

                <table class="bordered">
                    <thead>
                    <tr>
                        <th>JAS #</th>
                        <th>First</th>
                        <th>Last</th>
                        <th>Parish</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="row-select" ng-repeat="farmer in results.farmers" class="repeated-item" ng-click="selectedElement(farmer)">
                        <td>{{ farmer.fa_jas_number }}</td>
                        <td>{{ farmer.fa_first_name }}</td>
                        <td>{{ farmer.fa_last_name }}</td>
                        <td>{{ farmer.ad_address.pa_parish }}</td>
                    </tr>
                    <tr ng-if="results.farmers.length == 10">
                        <td style="text-align: center" colspan="4"><a ng-href="#/farmers?searchTerms={{terms}}" >More Results</a></td>
                    </tr>

                    </tbody>
                </table>

                </md-content>
            </md-card>

            <md-card>
                <md-content layout-padding>
                <md-subheader class="md-primary">Buyers:</md-subheader>
                <div class="table-responsive-vertical">
                    <table class="table table-hover table-mc-light-blue repeated-item">
                        <thead>
                        <tr>
                            <th>Buyer Name</th>
                            <th>Type</th>
                            <th>Email</th>
                            <th>Parish</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="buyer in results.buyers">
                            <td>{{ buyer.bu_buyer_name }}</td>
                            <td>{{ buyer.bt_buyer_type.bt_buyer_type_name }}</td>
                            <td>{{ buyer.bu_email}}</td>
                            <td>{{ buyer.ad_address.pa_parish }}</td>
                        </tr>
                        <tr ng-if="results.buyers.length == 10">
                            <td style="text-align: center" colspan="4"><a ng-href="#/buyer?searchTerms={{terms}}" >More Results</a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                </md-content>
            </md-card>

            <md-card>
                <md-content layout-padding>
                    <md-subheader class="md-primary">Transactions:</md-subheader>
                </md-content>
            </md-card>

            <md-card>
                <md-content layout-padding>
                    <md-subheader class="md-primary">Calls:</md-subheader>
                </md-content>
            </md-card>
        </div>
        <div ng-include="selected ? '/partials/farmer_profile_small.html':null" flex="40">

        </div>
    </md-content>
</ui-view>