<div layout="column" layout-fill>
    <md-card>
        <md-subheader>Statistics</md-subheader>
        <md-card-content layout="column">
            <div layout="row">
                <div layout="column" flex layout-align="center center" class="completeTransStat">
                    <span flex></span>
                    <label>100</label>
                    <span flex></span>
                </div>
                <div layout="column" flex layout-align="center center" class="pendingTransStat">
                    <span flex></span>
                    <label>20</label>
                    <span flex></span>
                </div>
                <div layout="column" flex layout-align="center center" class="disputeStat">
                    <span flex></span>
                    <label>0</label>
                    <span flex></span>
                </div>
            </div>
            <div class="statLabels" layout-align="center center" layout="row">
                <div style="text-align: center" flex>Completed</div>
                <div style="text-align: center" flex>Pending</div>
                <div style="text-align: center" flex>Disputes</div>
            </div>
        </md-card-content>
        <md-card-content>

        </md-card-content>
    </md-card>

</div>