
<md-card-content class="{{newCommodity ? 'dark':'white'}}">
    <div layout="row">
        <h3 class="{{newCommodity ? 'dark':'white'}}">Supplies</h3>
        <div flex class="md-actions edge" layout="row" layout-align="end center">
            <md-button ng-click="newCommodityItem()" class="md-fab edge" aria-label="Add New Supply">
                <md-icon class="edge" md-svg-icon="/images/ic_add_24px.svg"></md-icon>
            </md-button>
        </div>

    </div>

    <div ng-include="newCommodity ? '/partials/commodity_new.html':null">

    </div>
    <div ng-include="editCommodity ? '/partials/commodity_edit.html':null">

    </div>

    <style>

        md-icon.no-margin {

            margin:0;
            margin-right:20px;

        }

        table {

            width:100% !important;

        }

        td {

            width:25% !important;

        }

        th {

            font-weight: bold;

        }

    </style>

    <table class="table-striped" id="commodities-table">

        <thead><td><b>Produce</b></td><td><b>Amount</b></td><td><b>Price</b></td><td><b>Payment Terms</b></td></thead>

        <tbody>

        <tr class="commodity-row" ng-repeat="commodity in commodities" ng-click="hidePopupCommodities(commodity);" id="{{commodity._id}}">

            <td>{{isValid(commodity.cr_crop.cr_crop_name) ? commodity.cr_crop.cr_crop_name:  'N/A'}}</td>

            <td>{{isValid(commodity.co_quantity) ? commodity.co_quantity:  'N/A'}} {{commodity.un_quantity_unit.un_unit_name}}s</td>

            <td>${{isValid(commodity.co_price) ? commodity.co_price:  'N/A'}} per {{commodity.un_quantity_unit.un_unit_name}}</td>

            <td>{{isValid(commodity.co_payment_preference) ? commodity.co_payment_preference:  'N/A'}}</td>

        </tr>

        </tbody>

    </table>


</md-card-content>

