<div layout="column" layout-fill>
    <md-card>
        <md-card-content >
            <div layout-padding layout-fill layout-align="center" layout="column">
                <div layout="row" class="farmerInfo">
                    <h4>Share with Buyer</h4>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Print">
                        <md-icon class="scale" md-svg-icon="/images/icons/icons_print.svg"></md-icon>
                        <md-tooltip>Print</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Download">
                        <md-icon class="scale" md-svg-icon="/images/icons/icons_download.svg"></md-icon>
                        <md-tooltip>Download</md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Email">
                        <md-icon class="scale" md-svg-icon="../images/icons/icons_email.svg"></md-icon>
                        <md-tooltip>Email</md-tooltip>
                    </md-button>
                </div>
                <div class="farmerInfo">
                    <ul class="transcart">
                        <li>To: <b>{{selectedDemand.bu_buyer.bu_email}}</b></li>
                        <li>From: <b>Call center user email</b><br/></li>
                        <li>Subject: <b>{{selectedDemand.de_quantity|number}}{{selectedDemand.un_quantity_unit.un_unit_name}} of
                            {{selectedDemand.cr_crop.cr_crop_name}}
                            {{selectedDemand.cr_crop.cr_crop_variety == ""?"":" - " + selectedDemand.cr_crop.cr_crop_variety}}</b>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="farmerInfo">
                <ul class="transcart">
                    <li>Combined Supply Amount: <b>{{combinedSupplyAmount|number}}</b></li>
                    <li><md-progress-linear class="md-accent" md-mode="determinate" value="{{totalPercentage}}">

                    </md-progress-linear></li>
                    <li>Combined Supply Value: <b>{{combinedSuppyValue | currency}}</b><br/></li>
                </ul>
            </div>
            <div layout="column">
                <div layout="column" layout-align="center center" ng-if="m_commodities.length == 0">
                    <md-icon md-svg-src="../images/ic_not_interested_24px.svg"></md-icon>
                    <label>No Supplies Selected</label>
                </div>
                <div ng-repeat="commodity in m_commodities" layout-padding layout="row">
                    <table class="customTable">
                        <tr>
                            <th>{{commodity.fa_farmer.fa_first_name}} {{commodity.fa_farmer.fa_last_name}}</th>
                            <th><md-progress-linear class="md-accent" md-mode="determinate" value="{{100*(commodity.co_quantity/combinedSupplyAmount)}}"></md-progress-linear></th>
                        </tr>
                        <tr>
                            <td>{{commodity.co_quantity|number}} {{commodity.un_quantity_unit.un_unit_name}}</td>
                            <td>{{commodity.co_price | currency}} per {{commodity.un_price_unit.un_unit_name}}</td>
                        </tr>
                        <tr>
                            <td>{{commodity.co_availability_date | date}}</td>
                            <td>{{commodity.co_until | date}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </md-card-content>
    </md-card>

</div>