<ui-view>
    <md-content layout="row" layout-fill>
        <div layout="column" layout-fill flex-md="100" flex="60" flex-sm="100">
            <md-card>
                <md-card-content class="pretty2" layout-padding>

                </md-card-content>
                <md-card-content layout="column">

                </md-card-content>
            </md-card>

        </div>
        <div ng-include="'/partials/user_statistics_small.html'" layout="column" flex="40" flex-md="0" flex-sm="0" hide-sm>
        </div>
    </md-content>
</ui-view>
