<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools dialog-box-header">
            <h2>Change Password</h2>
            <span flex></span>
            <md-button class="md-icon-button">
                <md-icon md-svg-src="" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding layout="column" style="width:400px;">
      <md-input-container>
        <label>Old Password</label>
        <input type="password" ng-model="change.old_pass" placeholder="Old Password">
      </md-input-container>

      <md-input-container>
        <label>New Password</label>
        <input type="password" ng-model="user.title" placeholder="Old Password">
      </md-input-container>

      <md-input-container>
        <label>Retype New Password</label>
        <input type="password" ng-model="user.title" placeholder="Old Password">
      </md-input-container>

        </md-dialog-content>
        <div class="md-actions">
            <md-button ng-click="save()" class="md-primary">
                Save
            </md-button>
            <md-button ng-click="cancel()" class="md-primary">
                Cancel
            </md-button>
        </div>
</md-dialog>
